/* config.css */

.align {
    display: grid;
    place-items: center;
}

.grid {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: 300px;
}
::placeholder{
    color: #2E1263;
}

body {
    background-color: #F69680;
    color: #2E1263;
    font-family: "Open Sans";
    min-block-size: 100vh;
}

input {
    transition: 0.3s;
    inline-size: 100%;
    border-radius: 10px;
    padding: 30px;
    padding-inline: 10px;
    background-color: #F69680;
    color: #2E1263;
    text-align: center;
    margin: 10px;
    border-color: #2E1263;
    border: 2px solid;
    outline: none;
    align-content: center;
}

#garf{
    padding-left: 10%;
}

#par{
    text-align: center;
    /* inline-size: 335px; */
    padding-left: 20%;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: underline;
}

#user{
    padding: 15px;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 2px;

}

#pass{
    padding: 15px;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 2px;

}

#sign {
    inline-size: 335px;
    margin-left: 12px;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    padding: 30px;
    background-color: #F69680;
    color: #2E1263;
    margin: 10px;
    border-color: #2E1263;
    border: 2px solid;
}

#sign:hover{
    background-color: #2E1263;
    color: #F69680;
    text-decoration: underline;
    letter-spacing: 4px;
    word-spacing: 10px;

}

#user:hover{
    background-color: #2E1263;
    color: #F69680;
    border: 0px;
}

#pass:hover{
    background-color: #2E1263;
    color: #F69680;
    border: 0px;

}